.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 0 #aaaaaa;
  transition: 0.3s;
  font-weight: bold;
}

.action {
  @extend .btn;
  background-color: lightgreen;
}
.dobon {
  @extend .btn;
  background-color: orange;
  animation:circleanime 1s infinite;
}
.notDobon {
  @extend .btn;
  background-color: lightsalmon;
}
.turnChange {
  @extend .btn;
  background-color:lightsalmon;
}
.draw {
  @extend .btn;
  background-color:lightgreen;
}
.deckSet {
  @extend .btn;
  font-size: 14px;
  background-color:lightgreen;
}
.active {
  @extend .btn;
  background-color:lawngreen;
}
.disabled {
  @extend .btn;
  background-color: gray;
}

/*波形が広がるアニメーション*/
@keyframes circleanime {
	100%{
		transform:scale(1.1);
	}
}