.loading {
  animation:2s;
}
.loadingFs {
  @extend .loading;
  position: relative;
  width: 100vw;
  height: calc(100vh - 50px);
}
.loadingSpinnerOnly {
  @extend .loading;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.spinnerWrapper {
  width: 50px;
  height: 50px;
  background:rgba(255,255,255,0.93);
  z-index:300;
}

.spinnerWrapperFs {
  @extend .spinnerWrapper;
  position:absolute;
  top: 40%;
  left: 45%;
}

.spinnerText {
  font-size:9px;
  font-family:Arial;
  color:#BBB;
  letter-spacing:1px;
  font-weight:700
}
.spinner {
  display:block;
  border:25px solid rgba(100,100,100,0.2);
  width:1px;
  height:1px;
  border-left-color:transparent;
  border-right-color:transparent;
  border-radius:50px;
  animation:spin 1.5s infinite;
}

@keyframes spin  {
  0%,100% {transform:rotate(0deg) scale(1)}
  50%     {transform:rotate(720deg) scale(0.6)}
}