.wrap {
  height: 100vh;
  height: -webkit-fill-available;
  background-image:  url(/images/game/backGround/bg1.png);
  background-repeat: repeat;
  .roomInfo {
    display: flex;
    justify-content: center;
    position: relative;
    line-height: 50px;
    font-size: 22px;
  }
  .userInfoWrap {
    display: flex;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .boardInfo {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
    .turnTxt {
      font-size: 22px;
      margin: 20px 10px;
    }
    .deckCount {
      font-size: 14px;
      text-align: center;
    }
  }
  .myInfo {
    display: flex;
    justify-content: center;
  }
  .actionBtnWrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 80px;
    align-items: center;
  }
}