.wrap {
  height: 100vh;
  background-image:  url(/images/game/backGround/bg1.png);
  background-repeat: repeat;
  position: relative;
  .roomInfo {
    display: flex;
    justify-content: center;
    position: relative;
    line-height: 30px;
    font-size: 16px;
    background-color: #f8f8ff;
  }
  .userInfoWrap {
    display: flex;
    padding: 10px 0px;
    margin-bottom: 10px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  .boardInfo {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
    .turnTxt {
      font-size: 22px;
      margin: 20px 10px;
    }
    .effectWrap {
      display: flex;
      justify-content: space-between;
      .reverse {
        font-size: 28px;
      }
      .joker {
        font-size: 28px;
      }
      .wildSuit {
        font-size: 28px;
        animation: light .5s infinite alternate ease-in-out;
        // padding: 4px;
        width: 40px;
        height: 40px;
        border-radius:50%;
        text-align:center;
        background:goldenrod;
      }
      .drawCardInfo {
        border-radius:10px;
        text-align:center;
        background: tomato;
        width: 60px;
        height: 40px;
        animation: light .5s infinite alternate ease-in-out;
        .icon {
          font-size: 24px;
        }
        .count {
          font-size: 14px;
        }
      }
      .openCardIcon {
        border-radius:10px;
        text-align:center;
        background:yellowgreen;
        font-size: 26px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        animation: light .5s infinite alternate ease-in-out;
      }
    }
    .deckCount {
      font-size: 14px;
      text-align: center;
    }
  }
  .hint{
    text-align: center;
    position: fixed;
    bottom: 3px;
    right: 10px;
    background-color:burlywood;
    border-radius: 5px;
    animation: light .8s infinite alternate ease-in-out;
    .hintTxt {
      font-size: 14px;
      white-space: pre-wrap;
    }
  }
  .myInfo {
    display: flex;
    justify-content: center;
  }
  .handsWrap {
    display: flex;
    justify-content: center;
    .slides {
      display: flex;
      max-width: 100%;
      margin: 20px 0px;
      padding: 8px;
      z-index: 1500;
      overflow-x: scroll;
      text-align: center;
    }
  }
  .actionBtnWrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    bottom: 15px;
    z-index: 2100;
  }
  .stateResetArea {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: 0.6s ease-in-out;
  }
  .bg_black {
    z-index: 2000;
    background: black;
  }
  .bg_transparent {
    background: transparent;
  }
}

.modalBack {
  position: absolute;
  z-index: 2500;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  transition: 0.6s ease-in-out;
}

@keyframes light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}