.wrap {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .heading1 {
    font-size: 40px;
  }
  .subTitle {
    font-size: 22px;
  }
  .logo{ 
    margin: 20px;
  }
  .link {
    display: block;
    padding: 6px 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: silver;
    font-size: 20px;
    font-weight: bold;
    &__active {
      @extend .link;
      background-color: antiquewhite;
    }
    &__disabled {
      @extend .link;
      background-color: lightgray;
      opacity: 0.4;
    }
  }
  .icon {
    font-size: 20px;
  }
  .loginBtn {
    position: relative;
    .hint {
      position: absolute;
      top: 50px;
      left: 40px;
      font-size: 4px;
      padding: 6px;
      border-radius: 5px;
      background-color: rgb(255, 226, 226);
    }
  }
  .bgAnimatedCard {
    animation:rotateY 2s linear infinite;
    opacity: 1;
    :nth-of-type(1) {
      animation:change-img-anim 2s linear infinite;
    }
    :nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      animation:change-img-anim 2s linear infinite;
      animation-delay: 1s;
    }
  }
  .card1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .card2 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .card3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .card4 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@keyframes rotateY {
  0% {
    transform:rotateY(0deg);
  }
  25% {
    transform:rotateY(90deg);
  }
  50% {
    transform:rotateY(180deg);
  }
  75% {
    transform:rotateY(270deg);
  }
  100% {
    transform:rotateY(360deg);
  }
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	20%{ opacity: 0;}
	40%{ opacity: 1;}
	50%{ opacity: 1;}
	60%{ opacity: 1;}
	80%{ opacity: 0;}
	100%{ opacity: 0;}
}
