.action {
  width: 45%;
  margin: 40px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgreen;
  box-shadow: 0 2px 0 #aaaaaa;
  transition: 0.3s;
  font-weight: bold;
}
.dobon {
  width: 45%;
  margin: 40px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  box-shadow: 0 2px 0 #aaaaaa;
  transition: 0.3s;
  font-weight: bold;
}