.wrapRight {
    width: 70px;
    display: flex;
    align-items: center;
}
.wrapBottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.cardCountWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardCount {
    font-size: 12px;
    font-weight: bold;
}
