.wrap {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  z-index: 1500;
  .slides {
    display: flex;
    overflow-x: scroll;
    text-align: center;
    padding: 8px;
    .card {
      width: 70px;
    }
    div {
      min-width: 20%;
      z-index: 1600;
    }
    .cantPut {
      background-color: lightgray;
      opacity: 0.6;
    }
    .selected {
      position: relative;
      bottom: 3px;
      animation: move-y .5s infinite alternate ease-in-out;
    }
  }
  .scrollBtn {
    font-size: 20px;
    opacity: 0.7;
  }
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}
