.hint{
  text-align: center;
  position: fixed;
  bottom: 3px;
  right: 10px;
  background-color:burlywood;
  border-radius: 5px;
  animation: light .8s infinite alternate ease-in-out;
  .hintTxt {
    font-size: 14px;
    white-space: pre-wrap;
  }
}