.wrap {
  display: flex;
  flex-flow: column;
  .iconName {
    display: flex;
  }
  .iconNameOnTurn {
    display: flex;
    animation: move-y .5s infinite alternate ease-in-out;
  }
  .onTurnMark {
    color: #ff0000;
    font-size: 16px;
  }
  .star {
    font-size: 10px;
  }
  .handInfo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
.otherHandsInfoWrap {
  text-align: center;
}
.title {
  margin-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding: 6px;
}
.statusTxt {
  margin-top: 4px;
  padding: 8px;
  border-radius: 5px;
  width: 140px;
  background-color: bisque;
}
.otherHands {
  display: flex;
  overflow: scroll;
  margin: 20px;
  div {
    min-width: 80px;
  }
}

@keyframes move-y {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-5px);
    opacity: 0.6;
  }
}