.wrap {
  display: flex;
  flex-flow: column;
  .iconName {
    display: flex;
  }
  .star {
    font-size: 10px;
  }
  .handInfo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
