.wrap {
  display: flex;
  justify-content: space-around;
  .singleCardWrap {
    @media only screen and (max-height: 700px) {
      width: 80px;
    }
    @media only screen and (min-height: 701px) and (max-height: 800px) {
      width: 90px;
    }
    @media only screen and (min-height: 801px) {
      width: 100px;
    }
  }
  .turnTxt {
    margin: 20px 10px;
    word-wrap: break-word;
    @media only screen and (max-height: 599px) {
      font-size: 14px;
    }
    @media only screen and (min-height: 600px) and (max-height: 700px) {
      font-size: 22px;
    }
    @media only screen and (min-height: 701px) and (max-height: 800px) {
      font-size: 24px;
    }
    @media only screen and (min-height: 801px) {
      font-size: 26px;
    }
  }
  .effectWrap {
    display: flex;
    justify-content: space-between;
    .reverse {
      font-size: 28px;
    }
    .joker {
      font-size: 28px;
    }
    .wildSuit {
      font-size: 28px;
      animation: light .5s infinite alternate ease-in-out;
      // padding: 4px;
      width: 40px;
      height: 40px;
      border-radius:50%;
      text-align:center;
      background:goldenrod;
    }
    .drawCardInfo {
      border-radius:10px;
      text-align:center;
      background: tomato;
      width: 60px;
      height: 40px;
      animation: light .5s infinite alternate ease-in-out;
      .icon {
        font-size: 24px;
      }
      .count {
        font-size: 14px;
      }
    }
    .openCardIcon {
      border-radius:10px;
      text-align:center;
      background:yellowgreen;
      font-size: 26px;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      animation: light .5s infinite alternate ease-in-out;
    }
  }
  .deckCardWrap {
    @media only screen and (max-height: 700px) {
      width: 70px;
      font-size: 14px;
    }
    @media only screen and (min-height: 701px) and (max-height: 800px) {
      width: 80px;
      font-size: 16px;
    }
    @media only screen and (min-height: 801px) {
      width: 90px;
      font-size: 18px;
    }
    .deckCount {
      font-size: inherit;
      text-align: center;
    }
  }

}