.wrap {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
  .turnTxt {
    font-size: 22px;
    margin: 20px 10px;
    word-wrap: break-word;
  }
  .effectWrap {
    display: flex;
    justify-content: space-between;
    .reverse {
      font-size: 28px;
    }
    .joker {
      font-size: 28px;
    }
    .wildSuit {
      font-size: 28px;
      animation: light .5s infinite alternate ease-in-out;
      // padding: 4px;
      width: 40px;
      height: 40px;
      border-radius:50%;
      text-align:center;
      background:goldenrod;
    }
    .drawCardInfo {
      border-radius:10px;
      text-align:center;
      background: tomato;
      width: 60px;
      height: 40px;
      animation: light .5s infinite alternate ease-in-out;
      .icon {
        font-size: 24px;
      }
      .count {
        font-size: 14px;
      }
    }
    .openCardIcon {
      border-radius:10px;
      text-align:center;
      background:yellowgreen;
      font-size: 26px;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      animation: light .5s infinite alternate ease-in-out;
    }
  }
  .deckCount {
    font-size: 14px;
    text-align: center;
  }
}