.wrap {
  display: flex;
  padding: 10px 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  justify-content: space-around;
}
.eventWrap {
  height: 16px;
  .eventMessage {
    font-size: 14px;
    font-weight: bold;
    background-color: burlywood;
    border-radius: 5px;
    animation: flash .5s infinite linear;
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
	50% {
    opacity: 0;
  }
}